/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* omdat het kolommen zijn moet je justify-content gebruiken om onderaan geheel op te vullen.*/
}

.two {
    display: flex;
    flex-direction: row;
    /*uitlijning van begin tot eind (omdat direction = row is dat in dit geval van links naar rechts, verticaal).*/
    justify-content: space-between;}

.three {
    display: flex;
    /* row is de default, maar nu ter verduidelijking*/
    flex-direction: row;
    /*uitlijning van begin tot eind (omdat direction = row is dat in dit geval van links naar rechts, verticaal).*/
    justify-content: space-between;
    /*uitlijning haaks op de flex-richting (omdat direction = row is dat in dit geval boven naar beneden, verticaal
    Dit zorgt ervoor dat het woordje Edhub op dezelfde hoogte staat als de menu-items*/
    align-items: center;
    }
.left {
    list-style-type: none;
    display: flex;
    /*row is de default, maar nu ter verduidelijking*/
    flex-direction: row;
    /*uitlijning van begin tot eind (omdat direction = row is dat in dit geval van links naar rechts, verticaal).*/
    justify-content: space-between;
    /*alle items groeien NIET mee in verhouding tot de overgebleven ruimte*/
    flex-grow: 0;
    /*Alle items worden NIET kleiner dan de basis*/
    flex-shrink: 0;
    /*Als we geen basis breedte meegeven wordt de container net zo groot als de content die erin zit.
    Dan is er niets te verspreiden omdat e geen ongebruikte lege ruimte is.
    Zorg daarom altijd dat je container groter is dan je content als je dit wilt bereiken*/
    flex-basis: 300px;
}
.right {
    list-style-type: none;
}


.four {
    display: flex;
    flex-direction: column; /*Omdat ze onder elkaar moeten*/
    align-items: center; /*centreert op de horizontale as*/
    justify-content: center;/*centreert op de verticale as*/
}

.five {
    display: flex;/*altijd display flex bij flexbox*/
    flex-direction: row; /* als het niet meer past, ga je verder op de volgende rij*/
    flex-wrap: wrap;
}
article {
    /*Alle items groein met eventueel fracties van de overgebleven beschikbare ruimte*/
    flex-grow: 1; /*item mag niet kleiner worden dan de basis*/
    flex-shrink: 0;
    flex-basis: 360px;

}